<mat-card class="user-detail-header">
    <div class="detail-box">
        <img class="profile-img" src="../../assets/img/woman.svg" alt="">
        <div class="user-details">
            <h2>{{user.firstName}} {{user.lastName}}</h2> 
            <div>{{ user.email}}</div>
        </div>
    </div>
   
</mat-card>


<mat-card >
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ user.street}} <br>
        {{user.zipCode}}  {{user.city}}
    </mat-card-content>
</mat-card>