.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid lightgrey;
        padding: 5px 16px;
        cursor: pointer;

        &:hover{
            background-color: rgba(0,0,0,0.05);

            &:first-child {
                background-color: white;
            }
        }

        &:first-child {
            cursor: unset;
        }
    }

    &:last-child {
        border-bottom: 0;
    }

    th {
        padding: 15px 15px;
        color: rgba(0,0,0,0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }

    td {
        padding: 5px 16px;
    }
}